<html>
	<head>
		<title> pythonbee homepage </title>
		<link rel="stylesheet" type="text/css" href="/static/css/index.css">

	</head>


	<body> 
		<div class="title-block">
			<h1> Python Bee </h1>
			<img src="/static/images/python_image_01.jpg"> </img> 
		</div>

		<p>lets see if something appears</p>
		<div class="menu-block" >
		</div>

		<div class="game-div">
			<h2> given two lists, merge the first with the second </h2>
			<h3> please enter your code here </h3> 
			<form>
				<input type="text" name="code">
			</form>
		</div>
	
	</body>




</html>